.info {
    h1 {
        font-size: 36px;
        font-weight: $heavy;
        color: $off-black;
        margin-bottom: 30px;
    }
    p {
        font-weight: $regular;
        color: $off-black;
        font-size: 18px;
        line-height: 1.25;
    }
}

.container {
    padding: 60px;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 30px;
    label {
        font-weight: $bold;
        color: $off-black;
        font-size: 21px;
        text-transform: uppercase;
    }
    input[type=text],
    textarea {
        width: 100%;
        padding: 10px;
        border: 2px solid $dark-teal;
        color: $off-black;
        background-color: $off-white;
        font-weight: $regular;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 30px;
        resize: none;
        font-size: 12px;
    }
    input[type=submit] {
        background-color: $dark-teal;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        transition: fill .3s ease;
    }
    input[type=submit]:hover {
        background-color: $light-teal;
    }
}
