.page-header {
    display: flex;
    align-items: center;

    background-color: $off-white;
    height: 60px;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 80px;
    position: relative;
    z-index: 5;

    @media (max-width: 750px) {
        margin-bottom: 50px;
    }
    @media (max-width: 550px) {
        padding: 10px 15px; 
    }

    img {
        display: block;
        height: 20px;
        width: auto;
    }
}