header {
    height: 130px;
    background: $off-white;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px #e4e4e4;
    flex: 0 0 auto;
    .sizing {
        display: flex;
    }
    .title {
            flex: 1;
            margin-top: 15px;
            .logo {
                height: 5.5em;
                width: 5.5em;
                float: left;
                margin-right: 10px;
                border-radius: 50px;
            }
            h1 {
                font-size: 60px;
                font-weight: $heavy;
                color: $off-black;
            }
            h2 {
                text-transform: uppercase;
                font-size: 30px;
                font-weight: $book;
                color: $off-black;
            }
            h2::before {
                content: " // ";
            }
        }
    nav {
            align-self: flex-end;
                li {
                    display: inline-block;
                }
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 24px;
                        font-weight: $book;
                        color: $off-black;
                        transition: color .3s;
                    }
                    .active {
                        color: $light-teal;
                    }
                    &:first-child a::before {
                        content: none;
                    }
                    a::before {
                        content: " // ";
                        color: $off-black;
                    }
                    a:hover {
                        color: $light-teal;
                    }
                    a:hover::before {
                        color: $off-black;
                    }
                }
            }