.homepage-content {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;    
}

.content_projects {
    margin-bottom: 4em;
    ul {
        width: 100%;

        display: flex;
        flex-wrap: wrap;

        border: 1px solid red;
    }

    li {
        flex: 1 1 30%;
        position: relative;
        margin-left: 2em;

        height: 400px;

        background: center / cover no-repeat url(../images/projects/dual-credit-connection/dual-cover.jpg);
        &:first-child {
            margin-left: 0;
        }

        img {
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
    
            display: none;
        }
    }
    
}

.content_about {
    max-width: 1000px;
    margin: 0 auto;

    border: 1px solid purple;

    width: 100%;
    margin-bottom: 4em;

    display: flex;
    flex-wrap: wrap;

    .about_photo {
        flex: 1 1;
        img {
            display: block;
            width: 500px;
            height: auto;
        }
    }
    
    .about_copy {
        flex: 2 2;
        margin-left: 2em;
    }
}