.project-info {
    margin-bottom: 30px;
    h1 {
        font-size: 48px;
        font-weight: $heavy;
        color: $off-black;
        margin-bottom: 5px;
    }
    h2 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: $book;
        color: $off-black;
        margin-bottom: 15px;
    }
    h2::before {
        content: "//";
    }
    p {
        font-weight: $regular;
        color: $off-black;
        font-size: 18px;
        line-height: 1.25;
        margin-bottom: 30px;
    }
}

figure {
    margin-bottom: 30px;
    img {
        width: 50%;
    }
    figcaption {
        font-weight: $regular;
        color: $off-black;
        font-size: 14px;
        line-height: 1.25;
        width: 50%;
    }
}
